*
{
    margin: 0px auto;
    padding: 0px;
}
.head_photo 
{
    height: 700px;
    width: 100%;
    background-image: url(../image/fast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.head-text
{
   text-align: center;
    color:whitesmoke;
    font-size: bold;
    font-weight: 800;
    background-color
    margin-top: 5%;
}
.head-text:hover
{
    text-align: center;
    color: yellow;
    font-size: 30px;
    font-weight: 900;
    
}
.hudai
{
        border: 9px solid #DEF0C1;
}
.slider-show img
{
    height: 600px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
.second-photo
{
    height: 1300px;
    width: 100%;
    background-image: url(../image/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}
.second-photo:before
{
    height: 1300px;
    width: 100%;
    position: absolute;
    content: "";
    background-color:black;
    opacity: 0.5;
}
.singal img
{
    height: 170px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #FBB;
    margin-top: 5%;
}