* {
    padding: 0px;
    margin: 0px auto;
}

.head-photo img{
    height: 500px;
    width: 100%;
   
    background-size: cover;
    background-repeat: no-repeat;
  
}

.about-text {
    height: 320px;
    width: 100%;
    background-color: currentColor;
}

.about-text h1 {
    color: cornflowerblue;
    font-size: 37px;
    text-align: center;
    font-style: oblique;
    font-weight: unset;
    margin-top: 1%;
}
.about-text h1 spn
{
    font-size: 60px;
    font-weight: 400;
    color: white;
    font-style: unset;
}

.about-text p {

    color: white;
    text-align: center;
    font-size: 20px;
}
.image  {
    height: 800px;
    width: 100%;
    background-image: url(../image/fast1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}
.image:before
{
    height: 800px;
    width: 100%;
    position: absolute;
    content: "";
    background-color: inherit;
    opacity: 0.6;
}
.inside-image{
    margin-top: 2%;
    
}
.inside-image img
{
    height: 170px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2%;
}
.inside-image img:hover
{
    border: 2px solid yellow;
    border: 2px solid yellow;
    margin-right: 3%;
}